{% extends "base.jinja" %}

{% block title %}Process Video {{ video_id }} - YouTube to Doc{% endblock %}

{% block content %}

    {% if error_message %}
        <div class="mb-6 p-4 bg-red-50 border border-red-200 rounded-lg text-red-700"
             id="error-message"
             data-message="{{ error_message }}">{{ error_message }}</div>
    {% endif %}

    {% with is_index=false, show_examples=false %}
        {% include 'components/video_form.jinja' %}
    {% endwith %}

    {% include 'components/result.jinja' %}
{% endblock %} 